
{% if section.settings.step-2-check == true %}
<!-- <div class="congratulations-border"><span class="w-15"></span></div> -->
<div class="container py-5" step="1" data-result="">
  <div class="congratulations-deatils d-flex flex-column justify-content-center">
    <div class="col-md-5 z-index-999 col-sm-8 mx-auto my-2">
      <img class="d-block mx-auto" src="{{ section.settings.section_img | img_url: 'master' }}">
    </div>
    <div class="col-lg-7 col-md-10 col-12 mx-auto">
      <h1 class="fs-24 text-center">{{ section.settings.text }}</h1>
    </div>
    <div class="col-lg-5 col-md-7 col-sm-8 mx-auto my-2">
      <div class="cong-step-2-details">
        {% for block in section.blocks %}
        <div class="custom-radio mx-auto px-3 py-2 d-flex align-items-center {% if block.settings.border-ckeck == true %} cong-details-border {% endif %}" radio_div>
          <label class="cong-2-input">
            <input type="radio" id="customRadio1_{{ forloop.index }}" name="quizAnswer" value="{{ block.settings.cong_details_text }}" class="custom-control-input">
            <span class="img-box"><img src="{{ block.settings.deatils_img | img_url: 'master' }}"></span>
            <span class="w-100">{{ block.settings.cong_details_text }}</span>
          </label>
<!--           <span style="background-color:{{ block.settings.box_color }} ;" class="cong-step-img d-inline-block p-3"><img src="{{ block.settings.deatils_img | img_url: 'master' }}"></span>
          <p class="pl-3 fs-20" style="font-weight:{{ block.settings.font_weight }};">{{ block.settings.cong_details_text }}</p> -->
        </div>
        {% endfor %}
      </div>
      <div class="d-flex align-items-center justify-content-center mt-4">
<!--         <a href="javascript:void(0)" class="mx-4 hide"><img src="{{ section.settings.left_arrow | img_url: '40x40'}}"></a> -->
        <button class="right-arrow outline-none p-3 mx-4 next_question" data-current="1" data-next="2" disabled="disabled"><img src="{{ section.settings.right_arrow | img_url: '40x40'}}"></button>
      </div>
    </div>
  </div>
</div>
{% endif %}
<style>
  	.z-index-999{ z-index: 999; }
  	.cong-details-border{ border-bottom: 2px solid #dfe0eb; }
    .right-arrow{ border-radius: 99px;background-color: #332e54; }
  	.main-content{ padding-top: 0; }
 	div#shopify-section-header {
    	display: none;
 	}
  	div#shopify-section-footer {
    	display: none;
 	}
</style>
{% schema %}
  {
    "name": "step 2 ",
    "settings": [
		{
         	"type": "checkbox",
         	"id": "step-2-check",
         	"label": "step 2"
	  	},
		{
			"type":"image_picker",
			"id":"logo_image",
			"label":"logo"
		},
		{
			"type":"image_picker",
			"id":"section_img",
			"label":"image"
		},
		{
			"type":"textarea",
			"id":"text",
			"label":"text"
		},
		{
			"type":"image_picker",
			"id":"left_arrow",
			"label":"left arrow"
		},
		{
			"type":"image_picker",
			"id":"right_arrow",
			"label":"right arrow"
		}
		
	],
	"blocks": [
              {
                "type":"select",
                "name":"add",
                "settings": [
                      {
                  "type":"image_picker",
                  "id":"deatils_img",
                  "label":"image"
              },
              {
                  "type":"color",
                  "id":"box_color",
                  "label":"box color"
              },
              {
                  "type":"text",
                  "id":"cong_details_text",
                  "label":"text"
              },
              {
                  "type":"range",
                  "id":"font_weight",
                  "min":400,
                  "max":700,
                  "step":100,
                  "unit":"px",
                  "label":"font weight",
                  "default": 500
              },
              {
                  "type":"checkbox",
                  "id":"border-ckeck",
                  "label":"border"
              }
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
